:root {
  --bg-clicked: #aaf;
  --fg-clicked: #33f;
  --bg-main: #eee;
  --fg-main: #000;
  --bg-sub-light: #eefb;
  --bg-sub-dark: #aaa;
  --fg-inactive: #555;
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  padding: 0;
  background: var(--bg-main);
  color: var(--fg-main);
}

.content {
  flex: 1;
}

canvas {
  display: block;
}

#cnv_default {
  margin: 10px;
}

.cnv-button {
  margin: 10px;
  align-content: baseline;
  padding: 0;
  background-color: #eee;
}

.cnv-button:hover canvas {
  opacity: 0.8;
}

.cnv-button:active {
  background-color: var(--bg-clicked);
}

.pressed {
  border: solid 2px var(--fg-clicked);
  background-color: var(--bg-clicked);
}

footer {
  padding: 10px;
  text-align: right;
  font-size: 0.8em;
}

fieldset {
  padding: 0.3em;
  cursor: default;
}

#info {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  padding-bottom: 2em;
  background-color: var(--bg-sub-light);
  height: 30%;
  display: block;
  width: calc(100% - 20px);
  overflow-y: scroll;
  transition: 0.3s ease-in-out;
  opacity: 1;
}

#info.hidden {
  opacity: 0;
  height: 20%;
  visibility: hidden;
}

#show-more {
  background: transparent;
  border: none;
  border-radius: 10px;
  font-size: 1.2em;
}

#show-more:hover {
  background: var(--bg-sub-dark);
}

#show-more:active {
  background: color(from var(--bg-sub-dark) srgb r g b / 0.8);
}

#options {
  display: flex;
  position: sticky;
  bottom: 5px;
  margin: 5px;
  padding: 2px;
  background: #bbb;
  border-radius: 10px;
  opacity: 0.7;
  transition: 0.1s ease-in;
}

#options:hover {
  opacity: 0.9;
}

#options fieldset {
  border-style: none;
}

#options input[type=radio] {
  display: none;
}

#options input[type=radio]:checked+label {
  font-weight: bold;
  color: var(--fg-main);
}

#options input[type=radio]+label:hover {
  color: var(--fg-main);
  cursor: pointer;
}

#options input[type=radio]+label {
  color: var(--fg-inactive);
}

#options input[type=number] {
  border-style: none;
  border-radius: 2px;
}

#options input[type=range] {
  height: 5px;
  width: 20%;
}
