:root {
    --bg-clicked: #aaf;
    --fg-clicked: #33f;
}

/* html,body { */
/*   margin: 0; */
/*   padding: 0; */
/* } */

canvas {
    display: block;
}

.cnv-button {
    margin: 10px;
    align-content: baseline;
    padding: 0;
    background-color: #eee;
    /* transition: 0.5s ease-in-out; */
}

.cnv-button:hover canvas {
    opacity: 0.8;
}

.cnv-button:active {
    background-color: var(--bg-clicked);
}

.pressed {
    border: solid 2px var(--fg-clicked);
    background-color: var(--bg-clicked);
}

footer {
    position: relative;
    bottom: 0;
    padding: 10px;
}

#info {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #eefb;
  height: 30%;
  width: 100%;
  overflow-y: scroll;
  z-index: 2;
  transition: 0.5s ease-in-out;
  opacity: 1;
}

#info.hidden {
    opacity: 0;
    visibility: hidden;
}
